
body {
  margin: 0;
  padding: 10px;
  font-size: 3em;
  background-color: #181616;
}

.field {
  margin: 20px 0 0 0;
}

.field__textinput {
  font-size: 1em;
  padding: 15px 0;
  text-align: center;
  min-width: 500px;
}



/*
  Section styles
 */
.card {
  display: none;
}

.card__prompt {
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.card__button {
  font-size: 1.1em;
  margin: 30px 0 0 0;
  text-align: center;
}


/*
  Button styles
 */

.btn {
  text-decoration: none;
  background-color: white;
  color: #888;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 5px;
  min-width: 260px;
}

.btn--orange {
  border-color: #D4AF37;
  color: white;
  background-color:#800000;
}

.btn--blue {
  border-color: #D4AF37;
  color: white;
  background-color: #F8ECC2;
}

.btn--yellow {
  border-color: #E4BD00;
  color: white;
  background-color: #F3C500;
}

.btn--big {
  font-size: 28px;
  padding: 10px;
  font-weight: 400;
}

.btn--small {
  min-width: 50px;
}

.btn__prompt {
  background-color: white;
  color: black;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: -10px;
  font-weight: 600;
  background-color: #F8ECC2;
  opacity: .1;
  border-radius: 2px;
  left: 37px;
  float: left;
}

.btn__text {
  padding: 0 50px 0 20px;
  border-radius: 0 5px 5px 0;
  color: black;
}


/*---page styling applied by mark*/
#player-setup,
#class-select,
#weapon-select,
#battleground  {
  font-family: 'IM Fell English', serif;
}
.gold-font{
  color:#D4AF37;
}

#enemy_stats,
#player_stats {
  font-family: 'IM Fell English', serif;
  border: solid #D4AF37;
  border-width: 6px 6px 3px 6px;
  background-color: #F8ECC2;
}

#player_weapon,
#enemy_weapon {
  font-family: 'IM Fell English', serif;
  border: solid #D4AF37;
  border-width: 3px 6px 6px 6px;
  background-color: #F8ECC2;
}
